{% extends 'base.html.twig' %}
{% block title %}
    {{ 'creneau.formadd.nav_title'|trans }}
{% endblock %}

{% block navbar %}
    {% include 'commons/navbar.html.twig' %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="grand-titre">{{ 'creneau.formadd.title'|trans }}</h1>
            {% if hdebutGrand is defined and hdebutGrand == true %}
                <div class="text-center bg-danger font-weight-bold" style="color:white">
                    <span class="fa fa-times-circle"></span> {{ 'creneau.formadd.hdebutGrand'|trans }}
                </div>
            {% endif %}
            {% if hdebutExists is defined and hdebutExists == true %}
                <div class="text-center bg-danger font-weight-bold" style="color:white">
                    <span class="fa fa-times-circle"></span> {{ 'creneau.formadd.hdebutExist'|trans }}
                </div>
            {% endif %}
            {% if hfinLesshdebut is defined and hfinLesshdebut == true %}
                <div class="text-center bg-danger font-weight-bold" style="color:white">
                    <span class="fa fa-times-circle"></span> {{ 'creneau.formadd.hFinLessDebut'|trans }}
                </div>
            {% endif %}
            {% if hfinExists is defined and hfinExists == true %}
                <div class="text-center bg-danger font-weight-bold" style="color:white">
                    <span class="fa fa-times-circle"></span> {{ 'creneau.formadd.hFinExist'|trans }}
                </div>
            {% endif %}
            {% if dureeIntervalle is defined and dureeIntervalle == true %}
                <div class="text-center bg-danger font-weight-bold" style="color:white">
                    <span class="fa fa-times-circle"></span> {{ 'creneau.formadd.dureeIntervale'|trans }}
                </div>
            {% endif %}

            {{ form_start(form) }}
            {{ form_row(form.heure_debut) }}
            {{ form_row(form.heure_fin) }}
            {{ form_row(form.medecin) }}
            <div class="form-group">
                <button type="submit" class="btn" style="background-color: purple; color:white"><span
                            class="fa fa-plus-circle"></span> {{ 'creneau.formadd.form.btn_add'|trans }}
                </button>
                <a href="{{ path('creneaux') }}">{{ 'creneau.formadd.back_list'|trans }}</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}