{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'commons/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center grand-titre">La liste des patients (<span
                        class="text-white">{{ clients|length }}</span>)
            </h1>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top text-center">
                <form class="form-inline" action="{{ path('patients') }}" method="get">
                    <input class="form-control mr-sm-2" type="text" name="name" placeholder="nom ou prénom">
                    <button class="btn btn-success" type="submit">
                        <span class="fa fa-search"></span> Rechercher
                    </button>
                </form>
            </nav>
            {% for message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger text-center font-weight-bold">
                    <span class="fa fa-times-circle"></span> {{ message }}
                </div>
            {% endfor %}

            {% for message in app.session.flashBag.get('succes') %}
                <div class="alert alert-success text-center font-weight-bold">
                    <span class="fa fa-check-circle"></span> {{ message }}
                </div>
            {% endfor %}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Nom(s) et prénom(s)</th>
                        <th>Téléphone</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    {% if clients|length > 0 %}
                        {% for client in clients %}
                            <tr>
                                <td>{{ client.id }}</td>
                                <td>{{ client.allName }}</td>
                                <td>{{ client.phone }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}

                        <tr>
                            <td colspan="5" class="text-center"><h3 class="text-danger">Aucun résultat trouvé ...</h3>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="navigation text-center">
                {{ knp_pagination_render(clients) }}
            </div>
        </div>
    </div>
{% endblock %}