{% extends 'base.html.twig' %}
{% block title %}
    {{ 'error403.nav_title'|trans }}
{% endblock %}
{% block navbar %}
    {% include 'commons/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="row bg-dark" style="margin-top:20px; color:white">
        <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center">
            <h1>{{ 'error403.title'|trans }}</h1>
        </div>
    </div>

    <div class="row bg-danger" style="margin-top:20px">
        <div class="text-center col-md-12">
            <h3>
                {{ 'error403.soustitle_d'|trans }} '<span style="color:white">{{ app.user.username }}</span>', {{ 'error403.soustitle_f'|trans }}

            </h3>
        </div>
    </div>
    <div class="row" style="color:white; margin-top:20px">
        <div class="col-md-12 text-center">
            <img class="img-fluid" src="{{ asset('imgs/autorisation_interdite.jpg') }}" style="width:40%">
        </div>
    </div>
{% endblock %}