{% extends 'base.html.twig' %}
{% block title %}
    {{ 'error404.nav_title'|trans }}
{% endblock %}

{% block body %}
    <div class="row bg-dark" style="margin-top:20px; color:white">
        <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center">
            <h1>{{ 'error404.title'|trans }}</h1>
        </div>
    </div>
    <div class="row bg-danger" style="margin-top:20px">
        <div class="text-center col-md-12">
            <h3>
                {{ 'error404.soustitle'|trans }} <a class="text-white-50" href="{{ path('menu_principal') }}">{{ 'error404.back_accueil'|trans }}</a>
            </h3>
        </div>
    </div>
    <div class="row bg-white" style="margin-top:20px">
        <div class="text-center col-md-12">
            <h5>
               <span style="text-decoration: underline">{{ 'error404.type_error'|trans }}:</span> {{ errors.message }}
            </h5>
        </div>
    </div>
    <div class="row" style="color:white; margin-top:20px">
        <div class="col-md-12 text-center">
            <img class="img-fluid h-75" src="{{ asset('imgs/comptes_utilisateurs.png') }}" style="width:40%">
        </div>
    </div>
{% endblock %}