{% extends 'base.html.twig' %}
{% block title %}
    {{ 'menu.nav_title'|trans }}
{% endblock %}
{% block body %}
    <a href="#" title="Haut de page" class="scrollup rounded"><span class="fa fa-arrow-up"></span></a>
    <span id="name-authenticate" style="display:none">{{ app.token.user.username }}</span>
<div class="container">
    <div class="jumbotron jumbotron-fluid bg-dark"
         style="margin-top:20px; color:white; border-bottom: 10px solid #018577">
        <div class="container text-center">
            <h1 class="text-vert">{{ 'menu.title'|trans }}</h1>
            <p>{{ 'menu.soustitle'|trans }}</p>
            <h3>
		    	<span>
	                {{ 'menu.welcome'|trans }} <span class="text-warning" id="myName"></span> |
	                <a href="{{ path('logout') }}">{{ 'menu.logout'|trans }}</a>
	            </span>
            </h3>
            <p>
                {{ 'menu.role_disposition'|trans }}: <span style="color:grey">
                    [--
                    {% for role in app.token.user.allRoles %}
                        {{ role.role }} --
                    {% endfor %}
                    ]
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px">
            <div class="card gris-fond">
                <div class="card-header text-center font-weight-bold vert-fond">
                    {{ 'menu.panel.title.specialite'|trans }}
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top"
                         src="{{ asset('imgs/programme_medical.jpg') }}"
                         alt="Spécialité médicale" style="width:200px; height:200px">
                </div>
                <div class="card-footer text-center">
                    <a href="{{ path('specialites') }}" class="text-white-50">
                        {{ 'menu.panel.footer.specialite'|trans }}
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px">
            <div class="card gris-fond">
                <div class="card-header text-center font-weight-bold vert-fond">
                    {{ 'menu.panel.title.creneau'|trans }}
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top"
                         src="{{ asset('imgs/creneau.jpg') }}"
                         alt="creneau" style="width:200px; height:200px">
                </div>
                <div class="card-footer text-center">
                    <a href="{{ path('creneaux') }}" class="text-white-50">
                        {{ 'menu.panel.footer.creneau'|trans }}
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px">
            <div class="card gris-fond">
                <div class="card-header text-center font-weight-bold vert-fond">
                    {{ 'menu.panel.title.medecin'|trans }}
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top"
                         src="{{ asset('imgs/medecin.jpg') }}"
                         alt="medecin" style="width:200px; height:200px">
                </div>
                <div class="card-footer text-center">
                    <a href="{{ path('medecins') }}" class="text-white-50">
                        {{ 'menu.panel.footer.medecin'|trans }}
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px">
            <div class="card gris-fond">
                <div class="card-header text-center font-weight-bold vert-fond">
                    {{ 'menu.panel.title.patient'|trans }}
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top"
                         src="{{ asset('imgs/patient.jpg') }}"
                         alt="patients" style="width:200px; height:200px">
                </div>
                <div class="card-footer text-center">
                    <a href="{{ path('patients') }}" class="text-white-50">
                        {{ 'menu.panel.footer.patient'|trans }}
                    </a>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px">
                <div class="card gris-fond">
                    <div class="card-header text-center font-weight-bold vert-fond">
                        {{ 'menu.panel.title.user'|trans }}
                    </div>
                    <div class="card-body text-center">
                        <img class="card-img-top"
                             src="{{ asset('imgs/comptes_utilisateurs.png') }}"
                             alt="utilisateurs" style="width:200px; height:200px">
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('users') }}" class="text-white-50">
                            {{ 'menu.panel.footer.user'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% endblock %}
    {% block footer %}
    {% include 'commons/footer.html.twig' %}
{% endblock %}