{% extends 'base.html.twig' %}
{% block title %}
    Modifier votre compte
{% endblock %}

{% block navbar %}
    {% include 'commons/navbar.html.twig' %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="grand-titre">Modifier mon compte</h1>
            {% if userNameExist is defined and userNameExist == true %}
                <div class="text-center alert alert-danger font-weight-bold">
                    <span class="fa fa-times-circle"></span> ce login est déjà pris.
                </div>
            {% endif %}
            {% if modifSucces is defined and modifSucces == true %}
                <div class="text-center alert alert-success font-weight-bold">
                    <span class="fa fa-check"></span> Votre compte a été modifié avec succès.
                </div>
            {% endif %}
            {#{%  if errors is defined and errors|length >0 %}
                {% for error in errors %}
                    <div class="text-center alert alert-danger font-weight-bold">
                        <span class="fa fa-times-circle"></span> {{ error }}
                    </div>
                {% endfor %}
            {% endif %}#}
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            <div class="form-group">
                <button type="submit" class="btn" style="background-color: purple; color:white"><span
                            class="fa fa-edit"></span> Modifier
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{%  endblock %}
{%  block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}