{% extends 'base.html.twig' %}
{% block title %}
    {{ 'user.formmodif.nav_title'|trans }}
{% endblock %}

{% block navbar %}
    {% include 'commons/navbar.html.twig' %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="grand-titre">{{ 'user.formmodif.title'|trans }}</h1>
            {% if userNameExist is defined and userNameExist == true %}
                <div class="text-center alert alert-danger font-weight-bold">
                    <span class="fa fa-times-circle"></span> {{ 'user.formmodif.userNameExist'|trans }}
                </div>
            {% endif %}
            {% if modifSucces is defined and modifSucces == true %}
                <div class="text-center alert alert-success font-weight-bold">
                    <span class="fa fa-check"></span> {{ 'user.formmodif.modifSucces'|trans }}
                </div>
            {% endif %}
            {#{%  if errors is defined and errors|length >0 %}
                {% for error in errors %}
                    <div class="text-center alert alert-danger font-weight-bold">
                        <span class="fa fa-times-circle"></span> {{ error }}
                    </div>
                {% endfor %}
            {% endif %}#}
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            <div class="form-inline">
                <input type="checkbox" class="form-control-lg" id="check_valid"> {{ 'user.formmodif.show_password'|trans }}
            </div>

            <div class="form-group">
                <button type="submit" class="btn" style="background-color: purple; color:white"><span
                            class="fa fa-edit"></span> {{ 'user.formmodif.form.btn_edit'|trans }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker();

            // le checkBox est coché dès le départ
            $('#check_valid').attr('checked',true);

            $('#check_valid').click(function () {
                if ($(this).is(':checked')){
                    $('#user_edit_password').prop('type','text');
                } else{
                    $('#user_edit_password').prop('type','password');
                }

            });
        });
    </script>
{% endblock %}