{% extends 'base.html.twig' %}
{% block title %}
    Liste des utilisateurs
{% endblock %}

{% block navbar %}
    {% include 'commons/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center grand-titre">La liste des utilisateurs (<span
                        class="text-white">{{ users|length }}</span>)
            </h1>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top text-center">
                <form class="form-inline" action="{{ path('users') }}" method="get">
                    <input class="form-control mr-sm-2" type="text" value="{{ username }}" name="username"
                           placeholder="Username">
                    <button class="btn btn-success" type="submit">
                        <span class="fa fa-search"></span> Rechercher
                    </button>
                </form>
            </nav>
            {% for message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger text-center font-weight-bold">
                    <span class="fa fa-times-circle"></span> {{ message }}
                </div>
            {% endfor %}

            {% for message in app.session.flashBag.get('succes') %}
                <div class="alert alert-success text-center font-weight-bold">
                    <span class="fa fa-check-circle"></span> {{ message }}
                </div>
            {% endfor %}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status(<span class="text-success">{{ nbreUserActif }}</span>)</th>
                        <th>Role(s)</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    {% if users|length > 0 %}
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.password }}</td>

                                {% if user.enabled == false %}
                                    <td>
                                        <form action="{{ path('user_set_account') }}" method="post">
                                            <div class="form-group text-center">
                                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                                <input type="hidden" name="enabled" value="1">
                                                <button type="submit" class="btn btn-warning">
                                                    Désactivé
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>
                                        <form action="{{ path('user_set_account') }}" method="post">
                                            <div class="form-group text-center">
                                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                                <input type="hidden" name="enabled" value="0">
                                                <button type="submit" class="btn btn-success">
                                                    Activé
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                {% endif %}
                                <td>

                                    {% for role in user.allRoles %}
                                        -<a href=""
                                            onclick="$('#form_delete{{ user.id }}').submit(); return false;">{{ role.name }}</a>-
                                        <form id="form_delete{{ user.id }}" action="{{ path('user_delete_role') }}"
                                              method="post">
                                            <input type="hidden" name="user_id" value="{{ user.id }}">
                                            <input type="hidden" name="role_id" value="{{ role.id }}">
                                        </form>
                                    {% endfor %}

                                    <span>
                                    <a class="badge badge-info" href="" data-toggle="modal"
                                       data-target="#addRole{{ user.id }}">
                                        Ajouter un rôle
                                    </a>
							    </span>
                                    <!-- The Modal -->
                                    <div class="modal fade" id="addRole{{ user.id }}">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title">Ajouter un rôle</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                </div>

                                                <!-- Modal body -->
                                                <form action="{{ path('user_add_role') }}" method="POST">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-8 offset-md-2">
                                                                <div class="form-group text-center">
                                                                    <label class="control-label">
                                                                        <h1><span>Ajouter un nouveau rôle à </span><span
                                                                                    class="text-info">{{ user.username }}</span>
                                                                        </h1>
                                                                    </label>
                                                                    <input type="hidden" name="user_id"
                                                                           value="{{ user.id }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Roles</label>
                                                                    <select name="role_id"
                                                                            class="form-control text-center">
                                                                        {% for role in roles %}
                                                                            <option value="{{ role.id }}">{{ role.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <button type="submit" name="ajouter"
                                                                            class="btn btn-primary">
                                                                        <span class="fa fa-plus"></span> Ajouter
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                            data-target="#confirmationSupp{{ user.id }}">
                                        <span class="fa fa-times-circle"></span> Supprimer
                                    </button>
                                    <div class="modal modalSupp fade" id="confirmationSupp{{ user.id }}" tabindex="-1"
                                         role="dialog">
                                        <div class="modal-dialog modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color: royalblue">
                                                    <h4 class="modal-title">Supprimer un utilisateur</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">
                                                        &times;
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Voulez vous supprimer l'utilisateur <strong><span
                                                                    class="text-info">{{ user.username }}</span></strong>?
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <form action="{{ path('user_delete') }}" method="POST">
                                                        <input type="hidden" name="id" value="{{ user.id }}">
                                                        <button class="btn btn-danger" type=submit>
                                                            <span class="fa fa-times-circle"></span> Supprimer
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}

                        <tr>
                            <td colspan="5" class="text-center"><h3 class="text-danger">Aucun résultat trouvé ...</h3>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="navigation text-center">
                {{ knp_pagination_render(users) }}
            </div>
            <div>
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="btn" style="background-color: purple; color:white" href="{{ path('form_user_add') }}">
                            <span class="fa fa-plus"></span> Ajouter un nouvel utilisateur
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}